<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <%- include ('partials/head.html') %>
  </head>
  <body>
    <%- include('partials/navigation.html') %>

    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animate__animated animate__flipInY">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Contact Me</h3>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="form-group">
                                <input class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message" name="" id="" cols="20" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btm btm-primary btn-block">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.html') %>

  </body>
</html>
